.App {
  height:800px;
  background-color:rgba(240, 172, 231, 0.79);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 8%;
}

h1 {
  font-size: 5.5rem;
  color:rgba(2, 2, 2, 0.8);
  text-align: center;
}


