h3 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
h3 {
    font-size:1.5rem;
    line-height: 20px;
    padding-left: 10px;
    padding-right:10px;
}
}

.spanText {
    font-size: 1rem;
    font-style: italic;
}

.buttons {
    display: flex;
}

.btn {
    width:100px;
    height:40px;
    border-style: none;
    border-radius: 25em;
    font-size: 1rem;
    margin-right: 10px;
    background-color: white;
}

.addBtn {
    border: 2px solid #FCEA72;
}

.addBtn:hover {
    background-color: #FCEA72;
}

.clearBtn {
    border: 2px solid #9AF8EC;
}

.clearBtn:hover {
    background-color: #9AF8EC;
}



.textBox {
    width:400px;
    height:35px;
    border-style: none;
    margin-bottom: 1rem;
    border-radius: 25em;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}