label {
    font-size: 3rem;
}

.checkBox {
    width: 1rem;
    height: 1rem;
}

.taskListPrinted {
    margin-right:1rem;
    margin-left:1rem;
}

input[type=checkbox]:checked + label{
text-decoration: line-through;
text-decoration-color: palegreen;
color:grey;
font-style: italic;
}
