h3 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
    font-family: sans-serif;
}


.spanText {
    font-size: 1rem;
    font-style: italic;
}

.buttons {
    display: flex;
}

.btn {
    width:5rem;
    height:2.3rem;
    border-style: none;
    border-radius: 25em;
    font-size: 1rem;
    font-family: sans-serif;
    margin-right: 1rem;
    background-color: white;
}

.addBtn {
    border: 2px solid #FCEA72;
}

.addBtn:hover {
    background-color: #FCEA72;
}

.clearBtn {
    border: 2px solid #9AF8EC;
}

.clearBtn:hover {
    background-color: #9AF8EC;
}



.textBox {
    width:80%;
    height:35px;
    border-style: none;
    margin-bottom: 1rem;
    border-radius: 25em;
    font-family: sans-serif;
}

form, h3{
    margin-left: 1rem;
}