body {
  padding: 50px;
  font-family: 'Caveat', cursive;
  background:url(./images/bg_img_final.jpeg);
  background-size: cover;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
body { 
padding: 5px;
background-repeat: no-repeat;
background-size: auto;
 }
}